.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.spacer {
    width: 100%;
    margin: 2rem;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}